body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Comfortaa";
  background: url('http://olympic81prd.blob.core.windows.net/cmsstorage/olympic/files/1e/1e92aaaa-1272-4cf6-aaac-f81e90aafbae.jpg') no-repeat center center fixed;
  background-size: cover;
}

main {
  flex: 1 0 auto;
}

#welcome {
  min-height: 85vh;
  margin-bottom: 0;
}

#welcomeButton {
  margin-top: 5vh;
}

#cards {
  display: none;
  margin-bottom: 0;
  min-height: 85vh;
}

img{
  margin: auto !important;
}
